<div [ngClass]= "{'list-group-item' : true,
                'list-group-item-success' : post['loveIts']>0,
                'list-group-item-danger' : post['loveIts']<0 }">
  <div>
    <span class="pull-right">{{ post['created_at'] | date:'dd/MM/yyyy hh:mm:ss a' }}</span>               
    <h2> {{ post['title'] }} </h2>  
  </div>  
  <p>{{ post['content'] }}</p>
  
  <span>
      <button class="btn btn-success" (click)="increaseLove()">Love It!</button> 
      <button class="btn btn-danger" (click)="decreaseLove()">Don't love it!</button>
      <button class="pull-right btn btn-danger" (click)="supprimerPost(post)">Supprimer post</button>   
  </span>
</div> 