
  <div [ngClass]= "{'list-group-item' : true,
  'list-group-item-success' : postLoveIts>0,
  'list-group-item-danger' : postLoveIts<0 }">
      <div class="pull-right">{{ postCreatedAt | date:'dd/MM/yyyy hh:mm:ss a' }}</div>               
      <h2 style="font-weight: bold"> {{ postTitle }} </h2>    
  <p>{{ postContent }}</p>
  <button class="btn btn-success" (click)="increaseLove(postLoveIts)">Love It!</button> 
  <button class="btn btn-danger" (click)="decreaseLove(postLoveIts)">Don't love it!</button>    
  </div> 